{{! @blog.description}}
<span class="personal-liberty">Personal Liberty.</span>
<span class="civic-responsibility">Civic Responsibility.</span>
<span class="government-accountability">Government Accountability</span>

