<section class="fec-disclaimer">Paid for by <a href="http://haddox4house.com">Steven Haddox, MD-8 Libertarian Candidate for Congress</a></section>
<section class="designedby"><a href="https://github.com/evanwon/civil-ghost-theme">Civil Theme</a> designed by <a href="http://evanw.com">Evan Wondrasek</a></section>
<section class="poweredby">Powered by <a href="http://ghost.org">Ghost</a></section>
