<h4 class="blog-description">
  <span class="personal-liberty">Personal Liberty,</span><br />
  <span class="civic-responsibility">Civic Responsibility,</span><br />
  <span class="government-accountability">Government Accountability</span><br />
  <span class="homepage"><a href="http://haddox4house.com">Haddox4House.com</a><br />
  <span class="email"><a href="mailto:steven@haddox4house.com">steven@haddox4house.com</a></span><br />
  <span class="phone"><a href="tel:240-285-9823">(240) 285-9823</a></span><br />
  <span class="address">P.O. Box 1425<br />Frederick, MD 21702</span>
</h4>
